.navbar {
  position: fixed;
  /* opacity: 1; */
  background-color: #333;
  top: 0;
  left: 0;
  z-index: 9899;
  width: 100%;
  height: 100px;

}

.logo img{
  padding-top: 13px;
  padding-left: 113px;
  float: left;
}

img.textlogo{
  padding-top: 33px;
  padding-left: 10px;
  /* display: inline-block; */
}

ul {
  list-style-type: none;
  margin-top: 0px;
  margin-left: 0px;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: block;
  color: purple;
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

@screen sm {
  .navbar {
    @apply bg-white h-10;
  }
}

@screen md {
  .navbar {
    @apply bg-white h-16;
  }
}

@screen lg {
  .navbar {
    @apply bg-white h-20;
  }
}
