.container-main{
  background-image: url("../static/bg-main.png");
  @apply h-screen justify-center w-full bg-cover;
}

.title {
  font-family: 'Roboto', sans-serif;
  padding-top: 30vh;
  @apply block font-bold text-7xl text-white text-center ; /*added font size '7xl' in tailwind.config.js*/
}

.subtitle {
  font-family: 'Roboto', sans-serif;
  @apply block font-normal text-xl text-white text-center;
}


/* lumayan fixed searchbar */

.container-searchbar{
  @apply pt-10 flex justify-center;
}

.searchbar{
  @apply flex relative border-black rounded-l-lg pl-10 py-4 pr-64;
}

button{
  @apply bg-blue-400 text-white rounded-r-lg p-5;
  background-color: #FA7268;
}

/* .input{
  @apply text-left mt-8 pt-5 pb-5 pl-5;
} */
