.main{
  background-image: url("../static/bg-main.png");
  @apply h-screen justify-center w-full bg-cover;
}

.title {
  font-family: 'Roboto', sans-serif;
  padding-top: 30vh;
  @apply block font-bold text-7xl text-white text-center; /*added font size '7xl' in tailwind.config.js*/
}

.subtitle {
  font-family: 'Roboto', sans-serif;
  @apply block font-normal text-xl text-white text-center;
}


/* not fixed searchbar */
.searchbar{
  text-align: center;
  border-radius: 5px;
  @apply grid grid-cols-12 w-4;
}

.input{
  @apply text-left mt-8 pt-5 pb-5 pl-5;
}
