/* main */

.container-main{
  background-image: url("../static/bg-main.png");
  @apply h-screen justify-center w-full bg-cover;
}

.title {
  font-family: 'Roboto', sans-serif;
  padding-top: 30vh;
  @apply block font-bold text-7xl text-white text-center ; /*added font size '7xl' in tailwind.config.js*/
}

.subtitle {
  font-family: 'Roboto', sans-serif;
  @apply block font-normal text-xl text-white text-center;
}


/* searchbar */

.container-searchbar{
  @apply pt-10 flex justify-center;
}

.search-logo{
  position:absolute;
    bottom:2px;
    right:5px;
    width:24px;
    height:24px;
}

.searchbar{
  @apply flex relative border-black rounded-l-lg pl-16 py-4 pr-64 inline-block bg-no-repeat;
  background-image: url("../static/Vector.svg");
  background-position: 5% 50%;
}

.searchbar:focus{
  outline: none;
}

button{
  @apply bg-blue-400 text-white rounded-r-lg p-5;
  background-color: #FA7268;
}

button:focus{
  background-color: rgb(255, 175, 175);
  /* color: black; */
  @apply outline-none
}
